@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@font-face{
font-family: "Android";
src:url(fontes/IDroid\ Bold.otf) format("opentype");
font-weight: normal;
}
:root{
--fonte-android:"Android",cursiva;
}
/*verde:#49a09d
lilais:#5f2c82*/

*{
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 0px;
margin: 0px;
box-sizing: border-box;

}
body,html{
    background: #FFFFFF url(https://identity.agt.minfin.gov.ao/identity/images/angola-loop-6.jpg) no-repeat;
    /*background-color: #5f2c82;*/
    height: 100%;
    width: 100%;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;


}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.39);
    width: 350px;
    height: 600px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px; 
    
    box-shadow: 0px 0px 10px rgba(73, 53, 53, 0.267);
    
}
section#login:hover{
    box-shadow: 0px 0px 10px dodgerblue;
    
}
section#login > div#imagem{
display: block;
background:rgba(180, 172, 172, 0.014) url(../imagens/logo1.png) no-repeat;
/*background-size: cover;*/
height: 250px;
background-position: center;
}
section#login > div#formulario{
    background-color: white;
    height: 100vh;
    display: block;
    padding: 30px;
    }
input{
        padding: 12px;
        border: 1px solid rgba(128, 128, 128, 0.438);
        outline: none;
        font-size: 15px;
        border-radius: 5px;
        width: 100%;
 }
.submit{
            background-color: dodgerblue;
            border: none;
            padding: 15px;
            width: 100%;
            border-radius: 10px;
            color: white;
            font-size: 15px;
}
.submit:hover{
            background-color: deepskyblue;
            color: rgb(214, 203, 203);
            cursor: pointer;
}