@charset "UTF-8";


@media screen and (min-width:768px){
    body{
      background: #FFFFFF url(https://identity.agt.minfin.gov.ao/identity/images/angola-loop-6.jpg) no-repeat;
      
 }
    section#login{
      width: 519px;
      height: 340px;
      border-radius: 5px 0px 0px 5px;
 } 
    section#login > div#imagem{
      
      float: left;
      width: 173px;
      height: 340px;

 } 
      section#login > div#formulario{
          float: right;
          width: 346px;
          height: 340px;

  } 
  @keyframes animacao {
    0% {margin-top: 0;}
    20% {margin-top: 0;}
    25% {margin-top: -145%;}
    45% {margin-top: -145%;}
    50% {margin-top: -205%;}
    70% {margin-top: -205%;}
    75% {margin-top: -350%;}
    95% {margin-top: -350%;}
    100% {margin-top: -400%;}
    
    
    
    }
  
}